ul {
    padding: 0;
    width: 100vw;
    
    li {
        margin: 0 auto;
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        background-color: #333;
        color: #F2F2F2;
        height: 72px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 20px;

    .styleConcluido {
        color: green;
        text-decoration: line-through;
    }

    label {
        background-color: #fff;
        border: 2px solid #4EA8DE;
        border-radius: 50%;
        cursor: pointer;
        height: 18px;
        width: 18px;
        margin: 0;
        position: relative;
    }

    label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 2px;
        position: absolute;
        top: 4px;
        transform: rotate(-45deg);
        width: 12px;
    }

    input {
        visibility: hidden;
    }

    label.ticado {
        background-color: #5E60CE;
        border-color: #5E60CE;
    }
}

.iconeLixeira:hover {
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    li {
        min-width: 72%;
    }
}

@media screen and (max-width: 425px) {

    li {
        min-width: 90%;
    }
}

