header {
    width: 100vw;
    height: 200px;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
    }

    .signoutIcon {
        position: absolute;
        color: #fff;
        top: 2%;
        left: 95%;
        font-size: 25px;
        cursor: pointer;
    }
}

@media screen and (max-width: 425px) {
    
    .signoutIcon {
        position: absolute;
        left: 90%;
    }
}
